<div class="row header">
  <div class="col-xs-12">
    <div class="user pull-right">
      <div class="item dropdown" uib-dropdown>
        <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
          <img src="img/avatar.jpg">
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-header">
            Alan Balderas
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#">
              Profile
            </a>
          </li>
          <li class="link">
            <a href="#">
              Menu Item
            </a>
          </li>
          <li class="link">
            <a href="#">
              Menu Item
            </a>
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#">
              Logout
            </a>
          </li>
        </ul>
      </div>
      <div class="item dropdown" uib-dropdown>
       <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
          <i class="fa fa-bell-o"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-header">
            Notifications
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">Server Down!</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="meta">
      <div class="page">
        RoomITI
      </div>
      <div class="breadcrumb-links">
        Home / RoomITI
      </div>
    </div>
  </div>
</div>
