<div id="sidebar-wrapper">
  <ul class="sidebar">
    <li class="sidebar-main">
      <a ng-click="toggleSidebar()">
        <img src="img/logo.png" alt="RoomITI" width="150">
        <span class="menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>

    <li class="sidebar-list">
      <a href="#/pensiones">Pensiones <span class="menu-icon fa fa-home"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/administradores">Administradores <span class="menu-icon fa fa-users"></span></a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular" target="_blank">
        Github
      </a>
    </div>
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
        About
      </a>
    </div>
    <div class="col-xs-4">
      <a href="#">
        Support
      </a>
    </div>
  </div>
</div>
