<div class="row alerts-container" data-ng-controller="AdministradoresCtrl">

  <legend>Agregar Administrador</legend>

  <div class="row">
    <h3 class="redcolor">Información Básica</h3>
    <div class="form-group col-lg-3">
      <label for="nombre" class="control-label">Nombre </label> <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"  data-placement="right" title="Sólo caractéres alfabéticos con acento" tooltip-append-to-body="true" ></i>
      <input type="text" id="nombre" name="nombre" class="form-control" ng-model="newUser.nombre">
    </div>
    <div class="form-group col-lg-3">
      <label for="aPaterno" class="control-label">Apellido Paterno</label> <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"  data-placement="right" title="Sólo caractéres alfabéticos con acento" tooltip-append-to-body="true"></i>
      <input type="text"  id="a_paterno" name="aPaterno" class="form-control" ng-model="newUser.aPaterno">
    </div>
    <div class="form-group col-lg-3">
      <label for="aMaterno" class="control-label">Apellido Materno</label>
      <input type="text" id="a_materno" name="aMaterno" class="form-control" ng-model="newUser.aMaterno">
    </div>
    <div class="form-group col-lg-3">
      <label for="username" class="control-label">Nombre de Usuario</label>
      <input type="text" id="username" name="username" class="form-control" ng-model="newUser.username">
    </div>
    <div class="form-group col-lg-3">
      <label for="password" class="control-label">Password</label>
      <input type="password" id="password" name="password" class="form-control"  ng-model="newUser.passwordNew">
    </div>
    <div class="form-group col-lg-3">
      <label for="confirmaPass" class="control-label">Confirmar Password</label>
      <input type="password" id="cpassword" name="confirmaPass" class="form-control"  ng-model="newUser.cpasswordNew">
    </div>
  </div>

  <div class="row">
    <h3>Dirección</h3>
    <div class="form-group col-lg-3">
      <label for="calle" class="control-label">Calle</label>
      <input type="text" id="calle" name="calle" class="form-control" ng-model="newUser.direccion.calle">
    </div>
    <div class="form-group col-lg-3">
      <label for="colonia" class="control-label">Colonia</label>
      <input type="text" id="colonia" name="colonia" class="form-control" ng-model="newUser.direccion.colonia">
    </div>
    <div class="form-group col-lg-3">
      <label for="cp" class="control-label">Código Postal</label>
      <input type="text" id="cp" name="cp" class="form-control" ng-model="newUser.direccion.cp">
    </div>
    <div class="form-group col-lg-3">
      <label for="municipio" class="control-label">Municipio</label>
      <input type="text" id="municipio" name="municipio" class="form-control" ng-model="newUser.direccion.municipio">
    </div>
    <div class="form-group col-lg-3">
      <label for="estado" class="control-label">Estado</label>
      <input type="text" id="estado" name="estado" class="form-control" ng-model="newUser.direccion.estado">
    </div>
    <div class="form-group col-lg-3">
      <label for="numInt" class="control-label">Número Interior</label>
      <input type="text" id="numInt" name="numInt" class="form-control" ng-model="newUser.direccion.numInt">
    </div>
    <div class="form-group col-lg-3">
      <label for="numExt" class="control-label">Número Exterior</label>
      <input type="text" id="numExt" name="numExt" class="form-control" ng-model="newUser.direccion.numExt">
    </div>
  </div>

  <div class="row">
    <h3>Comprobantes</h3>
    <div class="form-group col-lg-3">
      <label for="IFE" class="control-label">IFE</label>
      <input type="file" name="IFE" class="form-control" ng-model="newUser.IFE">
    </div>
    <div class="form-group col-lg-3">
      <label for="compo_dom" class="control-label">Comprobante Domiciliario</label>
      <input type="file" name="compo_dom" class="form-control" ng-model="newUser.compo_dom">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 col-lg-offset-5">
      <button type="button" class="btn btn-info" ng-click="submitAdmin()">Guardar</button>
    </div>
  </div>

</div>
