<div class="row alerts-container" data-ng-controller="PensionesCtrl">

  <h2>Agregar Pensión</h2>

  <div>
    <span>you can specify the event on how the menu opens:</span>
    <div context-menu="menuOptions">
      You can right click me
    </div>
</div>
<div ng-bind="selected"></div>

  <form class="form" class="form-horizontal">
    <fieldset>
      <legend>Datos de la pensión</legend>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="nombre" class="control-label">Nombre</label>
            <input type="text"  class="form-control" name="nombre" ng-model="newPension.nombre">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="precio" class="control-label">Precio</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="text"  class="form-control" name="precio" ng-model="newPension.precio">
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="telefono" class="control-label">Teléfono</label>
            <input type="text"  class="form-control" name="telefono" ng-model="newPension.telefono">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="caracteristicas" class="control-label">Características</label>
            <tags-input replace-spaces-with-dashes=false ng-model="newPension.caracteristicas" placeholder="Agregue características">
              <auto-complete select-first-match="false" source="testAC"></auto-complete>
            </tags-input>
          </div>
        </div>
        <div class="col-lg-4">
          <label for="requisitos" class="control-label">Requisitos</label>
          <textarea type="text"  class="form-control" ng-model="newPension.requisitos"></textarea>
        </div>
        <div class="col-lg-4">
          <label for="servicios" class="control-label">Servicios</label>
          <tags-input replace-spaces-with-dashes=false ng-model="newPension.servicios" placeholder="Agregue servicios">
            <auto-complete  select-first-match="false" source="testAC"></auto-complete>
          </tags-input>
        </div>
      </div>

      <h1>Ubicar en Mapa</h1>
      <div style="border:1px solid black;" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
        <ng-map center="{{mapPos}}" zoom="10"></ng-map>
      </div>



      <div class="row">
        <div class="col-lg-4">
          <label for="latitud" class="control-label">Latitud</label>
          <input type="number"  class="form-control" name="latitud" ng-model="lat" ng-disabled="true">
        </div>
        <div class="col-lg-4">
          <label for="longitud" class="control-label">Longitud</label>
          <input type="number"  class="form-control" name="longitud" ng-model="ln" ng-disabled="true">
        </div>
      </div>

      <legend>Dirección</legend>
      <div class="row">
        <div class="col-lg-3">
          <label for="calle">Calle</label>
          <input type="text" class="form-control" name="calle" ng-model="newPension.direccion.calle">
        </div>
        <div class="col-lg-3">
          <label for="colonia">Colonia</label>
          <input type="text" class="form-control" name="colonia" ng-model="newPension.direccion.colonia">
        </div>
        <div class="col-lg-3">
          <label for="cp">Código Postal</label>
          <input type="text" class="form-control" name="cp" ng-model="newPension.direccion.cp">
        </div>
        <div class="col-lg-3">
          <label for="Municipio">Municipio</label>
          <input type="text" class="form-control" name="Municipio" ng-model="newPension.direccion.municipio">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <label for="estado">Estado</label>
          <input type="text" class="form-control" name="estado" ng-model="newPension.direccion.estado">
        </div>
        <div class="col-lg-3">
          <label for="num_int">Número Interior</label>
          <input type="text" class="form-control" name="num_int" ng-model="newPension.direccion.num_int">
        </div>
        <div class="col-lg-3">
          <label for="num_ext">Número Exterior</label>
          <input type="text" class="form-control" name="num_ext" ng-model="newPension.direccion.num_ext">
        </div>
      </div>
      <div class="col-lg-10 col-lg-offset-5">
        <button type="button" class="btn btn-info">Guardar</button>
      </div>
    </div>
  </fieldset>
</form>

</div>
