<div class="row alerts-container" data-ng-controller="LoginCtrl">
  <style media="screen">
      .loginDialog{
        display: inline-block;
        margin: 10% 20%;
        width: 50%;
        padding: 3em 3em;
      }
  </style>

    <div class="loginDialog">
        <legend>Iniciar Sesión</legend>
        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="" class="control-label">Usuario</label>
                    <input class="form-control" type="text" name="" value="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="" class="control-label">Password</label>
                    <input class="form-control" type="password" name="" value="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-3">
              <button type="button" name="button" class="btn btn-info">Ingresar</button>
            </div>
        </div>
    </div>

</div>
