<div class="row alerts-container" data-ng-controller="AdministradoresCtrl">

  <style >
      .clickable{
        font-size:100px;
        margin: 0.5em;
        cursor: pointer;
      }
  </style>

  <legend>Administradores</legend>
  <div class="row">
    <div class="col-lg-12">
      <rd-widget>
        <rd-widget-header icon="fa-tasks" title="Administradores">
          <a class="btn btn-sm btn-info" href="#administradores/agregar">Agregar Nuevo Administrador</a>
        </rd-widget-header>
        <rd-widget-body classes="medium no-padding">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Administrador</th>
                  <th>Contraseña</th>
                  <th>Nombre</th>
                  <th>A. Paterno</th>
                  <th>A. Materno</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="admin in dataAdministradores">
                  <td>{{admin.id_administrador}}</td>
                  <td>{{admin.username}}</td>
                  <td>{{admin.password}}</td>
                  <td>{{admin.nombre}}</td>
                  <td>{{admin.a_paterno}}</td>
                  <td>{{admin.a_materno}}</td>
                  <td>
                    <a ng-click="editarAdmin(admin.id_administrador)" class="fa fa-search clickable"></a>
                    <a class="fa fa-pencil-square-o clickable"></a>
                    <a class="fa fa-trash clickable"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>

</div>
