<div class="row alerts-container" data-ng-controller="PensionesCtrl">

  <legend>Pensiones</legend>
  <div class="row">
    <div class="col-lg-12">
      <rd-widget>
        <rd-widget-header icon="fa-tasks" title="Pensiones">
          <a class="btn btn-sm btn-info" href="#pensiones/agregar">Agregar Nueva Pensión</a>
        </rd-widget-header>
        <rd-widget-body classes="medium no-padding">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Teléfono</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="pension in dataPension">
                      <td>{{pension.id}}</td>
                      <td>{{pension.nombre}}</td>
                      <td>{{pension.precio}}</td>
                      <td>$ {{pension.telefono}}</td>
                      <td>
                        <i class="fa fa-pencil-square-o"></i>
                        <i class="fa fa-trash"></i>
                      </td>
                </tr>
              </tbody>
            </table>
          </div>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>

</div>
